.container-0 {
  max-width: 1920px;
  margin: 0 auto;
}

.container-1 {
  max-width: 1602px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container-2 {
  max-width: 1180px;
  margin: 0 auto;
  box-sizing: border-box;
}